.details {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.details .content {
  background-color: white;
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.3s;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -5px 10px #00000044;
}

.details .content .closeBar {
  padding-top: 0.75rem;
  padding-bottom: 5rem;
  z-index: 2;
  left: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.details .content .closeBar div {
  background-color: #00000044;
  width: 4rem;
  height: 0.25rem;
}

.details .close {
  background-color: #00000088;
  position: absolute;
  padding: 0.25rem;
  border-radius: 50%;
  top: calc(1rem + env(safe-area-inset-top));
  left: 1rem;
}

.details .close svg {
  transform: translateY(0.1rem);
}

.details .background {
  transition: all 0.2s;
  position: relative;
}

.details .background img {
  width: 100%;
  pointer-events: none;
}

.details .categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  transform: translateY(0.25rem);
}

.details .categories li {
  padding: 0;
  margin: 0;
  margin-right: 0.25rem;
  font-size: 1rem;
  color: #888888;
}

.details .title {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details .author {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  display: flex;
  font-weight: bold;
  z-index: 3;
}

.details .author li {
  padding: 0;
  margin: 0;
  margin-right: 0.25rem;
  font-size: 1rem;
  color: #888888;
  cursor: pointer;
}

.details .description {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.25rem;
  max-height: 8rem;
  text-align: justify;
  scrollbar-width: none;
  overflow-y: scroll;
}

.details .description::-webkit-scrollbar {
  display: none;
}

.details .isEnd {
  padding: 0;
  margin: 0;
}

.details .status {
  display: flex;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  justify-content: space-between;
  align-items: center;
}

.details .extra {
  font-weight: bold;
  color: #bdbdbd;
  background-color: #efefef;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  transition: all 0.3s;
  cursor: pointer;
}

.details .episodes {
  display: grid;
  gap: 1rem 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.details .episodes::-webkit-scrollbar {
  display: none;
}

.details .episodes li {
  padding: 0.125rem;
  border-radius: 1rem;
  margin: 0;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
  height: 2rem;
  background-color: #f4f4f4;
  color: #a9a4a4;
  font-weight: bold;
  overflow: hidden;
}

.details .episodes li p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 2rem;
  transform: translateY(-0.75rem);
}

.details .options {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  position: absolute;
  width: calc(100vw - 2rem);
  bottom: 1rem;
}

.details .options div {
  display: flex;
  justify-content: center;
  border: 0.125rem solid #575757;
  border-radius: 0.75rem;
  height: 2.5rem;
  align-items: center;
  cursor: pointer;
}

.details .options .collect {
  width: 20vw;
  color: #575757;
}

.details .options .notCollect {
  width: 20vw;
  color: white;
  background-color: #575757;
}

.details .options .read {
  font-size: 1.5rem;
  font-weight: bold;
  width: calc(80vw - 3rem);
}

.details .desktopOptions {
  width: 30vw;
}

.details .desktopOptions .collect {
  width: 6vw;
}

.details .desktopOptions .notCollect {
  width: 6vw;
}

.details .desktopOptions .read {
  width: calc(24vw - 1rem);
}

.details .desktopContent {
  height: 100vh;
  border-radius: 0;
  display: flex;
}

.details .desktopContent img {
  width: 30vw;
  aspect-ratio: 9/12;
  object-fit: cover;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 0.75rem;
}

.details .desktopContent .categories {
  margin-top: 0;
}

.details .desktopTitle {
  width: 30vw;
}

.details .desktopDescription {
  width: 30vw;
  max-height: 34vh;
}

.desktopEpisodes .status {
  margin-left: 0;
  margin-top: 1rem;
  width: calc(70vw - 3rem);
}

.desktopEpisodes .episodes {
  margin-left: 0;
}
