.collections {
  position: relative;
  height: 100%;
}

.collections .noCollections {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-3rem);
  padding: 0;
  margin: 0;
  height: 100%;
  opacity: 0.5;
  font-size: 1.5rem;
}

.collections ul {
  display: grid;
  gap: 0 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  margin-top: 1rem;
}

.collections ul li {
  padding: 0;
  margin: 0;
  padding-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
}

.collections ul p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collections ul .history {
  font-size: 0.75rem;
  color: #cbcbcb;
  font-weight: bold;
}

.collections ul li img {
  aspect-ratio: 9/12;
  object-fit: cover;
  border-radius: 0.5rem;
}

.collections ul .end {
  z-index: 2;
  position: absolute;
  background-color: #ff0055aa;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem 0 0.5rem 0;
  backdrop-filter: blur(10px);
}

.collections ul .new {
  z-index: 2;
  position: absolute;
  background-color: #00ff22aa;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem 0 0.5rem 0;
  backdrop-filter: blur(10px);
}
