.sourceServersWrapper {
  height: 100%;
  width: 100%;
  position: relative;

  .sourceServers-enter {
    transform: translateX(100%);
  }

  .sourceServers-enter-active {
    transform: translateX(0);
    transition: transform 500ms;
  }

  .sourceServers-exit-active {
    transform: translateX(100%);
    transition: transform 500ms;
  }

  .sourceServers {
    height: 100vh;
    width: calc(100vw - 2rem);
    padding: 1rem;
    padding-top: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;

    .topBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: max(0.5rem, env(safe-area-inset-top));

      .back {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .add {
        cursor: pointer;
      }
    }

    .serverList {
      list-style-type: none;
      padding-top: 0;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: max(env(safe-area-inset-bottom), 2rem);
      margin: 0;
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      column-gap: 1rem;
      row-gap: 1rem;
      overflow-y: scroll;
      overflow: hidden;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        background-color: var(--color-sub-background);
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        span {
          user-select: all;
        }

        .options {
          display: flex;
          gap: 1rem;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
