// To ensure it have the highest priority
.checkbox.checkbox.checkbox.checkbox.checkbox {
  all: initial;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
