#library {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  height: 100%;
  width: 100;
  align-items: center;
  justify-content: center;
}

#content {
  display: flex;
  width: 100%;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
}

#categories::-webkit-scrollbar {
  display: none;
}

#categories li {
  font-weight: bold;
  font-size: 1.25rem;
  color: #cbcbcb;
  transition: all 0.35s;
  padding-top: 0.5rem;
  cursor: pointer;
}

#categories .selected {
  color: black;
  font-size: 1.5rem;
  cursor: default;
}

#list {
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 0.5rem;
}

#list::-webkit-scrollbar {
  display: none;
}

#list ul {
  display: grid;
  gap: 0 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#list li {
  padding: 0;
  margin: 0;
  padding-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
}

#list p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#list .latest {
  font-size: 0.75rem;
  color: #cbcbcb;
  font-weight: bold;
}

#list li img {
  aspect-ratio: 9/12;
  object-fit: cover;
  border-radius: 0.5rem;
}

#list .pageLoader {
  display: flex;
  justify-content: center;
}

#list .end {
  z-index: 2;
  position: absolute;
  background-color: #ff0055aa;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem 0 0.5rem 0;
  backdrop-filter: blur(10px);
}

#search {
  position: relative;
  width: calc(100% - 2rem);
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

#search input {
  border: none;
  outline: none;
  background-color: #efefef;
  border-radius: 0.75rem;
  width: calc(100% - 3rem);
  height: 2rem;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

#search .icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

#search ul {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  padding: 0.5rem;
  margin: 0;
  list-style-type: none;
  width: calc(100% - 1rem);
  min-width: 300px;
  z-index: 3;
  background-color: #ffffffdd;
  border-radius: 0.75rem;
  backdrop-filter: blur(5px);
}

#search li {
  font-size: 1rem;
  padding: 0;
  margin-top: 0.25rem;
  padding-bottom: 0.25rem;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search li:last-child {
  border-bottom: 0;
}

.searchContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}
