.settings {
  width: calc(100% - 2rem);
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-text);

  .topBar {
    div {
      cursor: pointer;
    }
  }

  .settingsContent {
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: max(env(safe-area-inset-bottom), 1rem);

    &::-webkit-scrollbar {
      display: none;
    }

    .content {
      color: var(--color-text);
    }

    h3 {
      margin: 0;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
      color: var(--color-text);
    }

    .subSettings {
      background-color: var(--color-sub-background);
      border-radius: 1rem;
      padding: 1rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      overflow: hidden;

      .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 1.75rem;
        overflow: visible;

        button {
          margin-left: 0.5rem;
        }

        b {
          margin-left: 0.25rem;
        }

        span {
          display: flex;
          color: var(--color-text);
        }
      }
    }

    .credit {
      text-align: center;
      padding: 0;
      margin: 0;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 0.75rem;
      color: var(--color-text);

      a {
        font-weight: bold;
        color: var(--color-text);
        text-decoration: none;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }
  }
}
