@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

html,
body {
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scroll-behavior: smooth;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--color-background);
}

#root {
  position: fixed;
}

html[data-theme="light"] {
  --color-primary: #000000;
  --color-text: #000000;
  --color-background: #f7f7f7;
  --color-search-background: #eaeaea;
  --color-sub-background: #ffffff;
  --color-chapters-background: #ececec;
  --color-chapters-text: #929292;
}

html[data-theme="dark"] {
  --color-primary: #ffffff;
  --color-text: #c3c3c3;
  --color-background: #2b2b2b;
  --color-search-background: #424242;
  --color-sub-background: #373737;
  --color-chapters-background: #373737;
  --color-chapters-text: #7f7f7f;
}

.crash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-text);
  width: 100vw;
  height: 100vh;
  gap: 1rem;

  p,
  h4,
  pre {
    margin: 0;
  }

  pre {
    border-radius: 1rem;
    background-color: var(--color-sub-background);
    padding: 1rem;
    color: red;
  }

  div {
    display: flex;
    gap: 0.5rem;
  }

  button {
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
    background-color: var(--color-sub-background);
    border-color: var(--color-text);
    border-width: 1.5px;
    border-style: solid;
    color: var(--color-text);
    font-weight: bold;
    cursor: pointer;

    &:active {
      opacity: 0.7;
    }
  }
}
