.swipeable-enter {
  left: 100%;
}

.swipeable-enter-active {
  left: 0;
  transition: left 500ms;
}

.swipeable-exit,
.swipeable-enter-done {
  left: 0;
}

.swipeable-exit-active {
  left: 100%;
  transition: left 500ms;
}

.swipeable {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
}
