.swipeableWrapper {
  height: 100vh;
  width: 100vw;
  position: relative;

  .swipeable-enter {
    transform: translateX(100%);
  }

  .swipeable-enter-active {
    transform: translateX(0);
    transition: transform 500ms;
  }

  .swipeable-exit-active {
    transform: translateX(100%);
    transition: transform 500ms;
  }

  .swipeable {
    height: 100%;
    width: 100%;
  }
}
